.about {
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about__right {
  padding: 9px;
}
.about__right h1 {
  padding-top: 20px;
  margin-top: 30px;
  font-weight: 600;
  color: rgb(24, 134, 24);
}
.about__right p {
  color: rgb(77, 45, 102);
  font-size: medium;
  font-weight: 300;
}
.about__left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__left img {
  max-width: 500px;
}
@media only screen and (max-width: 600px) {
  .about__left img {
    max-width: 300px;
  }
  .about__right h1 {
    font-size: xx-large;
    margin-top: 0px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .about__left img {
    max-width: 340px;
    margin-right: 10px;
  }
}
