.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
  padding-bottom: 20px;
}

.heading__h1 {
  color: rgb(33, 146, 33) !important;
  font-size: 36px;
  font-weight: bold;
}
.courses__items {
  display: flex;
  overflow-x: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.courses__items::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.courses__items {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.coursesCard__button {
  color: white;
}
.courseCard {
  max-width: 300px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 20px;
}
.courseCard__img {
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.courseCard__img img {
  max-width: 210px;
  min-height: 260px;
  object-fit: cover;
  align-items: center;
  align-content: center;
  z-index: 9;
  margin-bottom: -50px;
  border-radius: 8px;
  transition: all 0.4s ease-in;
  cursor: pointer;
  /* border: 3px solid rgb(89, 37, 138); */
}
.courseCard__img img:hover {
  transform: scale(1.05);
}
.courseCard__contents {
  background: rgb(233, 233, 233);
  border-radius: 20px;
  padding: 25px;
  min-width: 290px;
  min-height: 270px;
  max-height: 270px;
}
.courseCard__contents h4 {
  margin-top: 36px;
}
.courses .swiper-slide {
  min-width: 300px !important;
  max-width: 300px !important;
}
/* .courses .swiper__slide {
  margin: 20px !important;
} */
.courses .swiper-container {
  max-width: 100vw !important;
}
.courses .swipper-wrapper,
.courses .swiper-slide,
.courses .swiper-slide-prev {
  width: 400px !important;
}
@media only screen and (max-width: 800px) {
  .courses .swiper-slide {
    min-width: 100vw !important;
    max-width: 100vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .courses .swiper__slide {
    margin: 0px !important;
  }
  .courses .swiper-container {
    max-width: 100vw !important;
  }
  .courses .swipper-wrapper,
  .courses .swiper-slide,
  .courses .swiper-slide-prev {
    width: 100vw !important;
  }
  .courseCard {
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
