.documentation .row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 30px;
}
.documentation__right {
  align-items: center;
  justify-content: center;
}
.documentation__right h1 {
  color: rgb(24, 134, 24);
  font-weight: 700;
}
.documentation__right-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.documentation__left {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .documentation__right-images img {
  max-width: 300px;
} */
@media only screen and (max-width: 600px) {
  .documentation__right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .documentation__left img {
    max-width: 300px;
  }
  .documentation__right h1 {
    font-size: xx-large;
  }
}
@media screen and (max-width: 1351px) and (min-width: 992px) {
  .documentation__right-images img {
    max-width: 220px;
  }
}
