.login__email,
.register__button {
  background-color: rgb(9, 168, 9) !important;
  color: #fff !important;
  min-width: 300px;
  max-width: 300px;
  margin-top: 5px;
  font-weight: 600;
}
.logout__button {
  background-color: rgb(218, 36, 36) !important;
  color: #fff !important;
  min-width: 300px;
  max-width: 300px;
  margin-top: 5px;
  border-radius: 99px;
  padding: 8px;
  margin-top: 10px;
  min-width: 200px;
  font-weight: 600;

  border: none;
}
.logout__button:hover {
  background-color: rgb(182, 69, 69) !important;
  transition: 600ms linear;
}
.login__email:hover,
.register__button:hover {
  background-color: rgb(50, 148, 50) !important;
  transition: 600ms linear;
}
.login__email:hover {
  color: #fff !important;
}
.login__google {
  max-width: 300px;
}
.login__row {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-evenly; */
}
.login__left {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login__right {
  display: flex;
  overflow: hidden;
}
.login__right img {
  width: 50vw;
  /* height: 60vh; */
  /* min-width: 100px; */
}
.login__user {
  color: rgb(77, 45, 102);
  font-weight: 600;
  font-size: 50px;
}

.login__username,
.login__password,
.register__mail {
  min-width: 400px;
  border-radius: 99px;
  padding: 12px;
  margin: 5px;
  border: 1px solid rgb(57, 21, 87);
}

.login__username:focus,
.register__mail:focus,
.login__password:focus {
  outline: none;
}
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__button {
  border-radius: 99px;
  padding: 8px;
  margin-top: 10px;
  min-width: 200px;

  border: none;
}
.register__row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register__right {
  display: flex;
  overflow: hidden;
}
.register__right img {
  max-width: 700px;
}
@media only screen and (max-width: 600px) {
  .login__username,
  .login__password,
  .register__mail {
    min-width: 300px;
  }
}
@media only screen and (max-width: 850px) {
  .login__right {
    display: none;
  }
  .register__right {
    display: none;
  }
  .register {
    padding: 50px;
  }
  .login {
    padding: 50px;
  }
}
