.aboutPage__top {
  width: 100vw;
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.447), rgba(61, 59, 59, 0.747)),
    url("../components/images/about.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.top__h3 {
  color: #ffff;
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: bolder;
}
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__row {
  margin-top: -30px;
}
@media only screen and (max-width: 600px) {
  .aboutPage__top {
    height: 26vh;
  }
  .heading__h1 {
    font-size: 29px;
  }
}
