.aboutPage__top {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.447), rgba(61, 59, 59, 0.747)),
    url("https://miro.medium.com/max/5000/1*IhSmzjv5tyKSlHvSFKze0Q.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.top__h3 {
  color: #ffff;
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: bolder;
}
