.coursesPage__top {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.447), rgba(61, 59, 59, 0.747)),
    url("../components/images/courses.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.coursesPage__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
