.coursesPage {
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.coursesPage__top {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.447), rgba(61, 59, 59, 0.747)),
    url("../components/images/courses.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.coursesPage__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.coursePageCard {
  max-width: 550px;
  display: flex;
  background-color: white;
  margin: 20px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 5px 6px -6px #777;
  transition: all 0.4s ease-in;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.coursePageCard:hover {
  transform: scale(1.03);
}
.coursePageCard__left {
  flex: 0.5;
  border-radius: 10px;
}
.coursePageCard__left img {
  max-width: 250px;
  object-fit: cover;
  border-radius: 10px;
  max-height: 370px;
  min-height: 370px;
}
.coursePageCard__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
}
.coursePageCard__p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
}
hr.coursePageCard__divider {
  border: 1px solid rgb(173, 170, 170);
  width: 40px;
}
@media only screen and (max-width: 600px) {
  .coursePageCard {
    flex-direction: column;
    align-items: center;
  }
  .coursesPage__top {
    height: 26vh;
  }
  .coursePageCard__left {
    width: 100%;
  }
  .coursePageCard__left img {
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
  }
}
