.servicesPage__top {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.447), rgba(61, 59, 59, 0.747)),
    url("https://brand.wisc.edu/content/uploads/2016/12/bascom-fall-1500x500-1500x500.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.serviceCard {
  max-width: 300px;
  overflow: hidden;
  object-fit: contain;
  padding-top: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.serviceCard img {
  min-height: 200px;
  max-height: 200px;
  overflow: hidden;
}
.services__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.serviceCard h3,
.serviceCard p {
  padding: 10px;
}
.serviceCard__link {
  display: flex;
  align-items: center;
  padding: 15px;
}
.servicesCard__card {
  max-width: 300px;
}
